    .calculator{
        height: 80%;
        width: 20%;
        /* border: 3px solid grey; */
    position:absolute;
    top: calc(50% - 40%);/* top:10% */
    left: calc(50% - 10%);
    border-radius: 8px;
    /* min-width: 250px;
    min-height:400px;  */
    background-color: #2A3637;
    } 
    .outputMessage{
        padding: 10px;
        height: 30%;
        display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    }

    .buttonClass{
        height: 70%;
    }

    .displayOutput{
        height: 20%;
        text-align: right;
        font-size: large;
        color: gray; 
    }
    
    .messageButton{
        height: 40%;
        font-size: 44px;
        text-align: right;
        font-weight: bold;
        color: white;
    }

    .first-row,.second-row,.third-row,.fourth-row,.fifth-row{
        display: flex;
        justify-content: space-evenly;
    }

    .buttonClass{
        padding: 10px;
    }
    
    button{
        width: 54px;
    height:54px;
    border-radius: 50%;
    margin: 10px;
    background-color: #2A3637;
    border:none;
    color:white;
    font-size: 22px;
    cursor: pointer;
    /* padding: 14px; */
    }

    .powerButtons{
        background-color: #6F7F7E;
        border: 0px solid #6F7F7E;
        color: white;
        font-size: 20px;
    }

    .operators{
        background-color: white;
        color: #3E9387;
        font-size: 28px;
    }

    body{
        font-family: 'Roboto', sans-serif;
    }